@import 'tailwindcss';

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 400 500 700 800;
  font-display: swap;
  src: url('/src/assets/fonts/Inconsolata-VariableFont_wdth_wght.ttf')
    format('truetype');
}

@theme {
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(252, 6%, 83%);
  --color-neutral-500: hsl(245, 15%, 58%);
  --color-neutral-700: hsl(245, 19%, 35%);
  --color-neutral-900: hsl(248, 70%, 10%);

  --color-brand-pink: #eb7197;
  --color-brand-purple: #8c52ff;

  --bg-image-text-gradient: linear-gradient(
    to right,
    var(--color-brand-pink),
    var(--color-brand-purple)
  );

  --shadow-glow: 0 0 25px hsla(330, 100%, 70%, 0.4);

  --font-primary: Inconsolata, monospace;
}

body {
  @apply bg-[#0b071e] text-neutral-0 font-primary min-h-screen;
  background-image: radial-gradient(
    circle at top right,
    rgba(179, 136, 255, 0.1),
    transparent
  );
}

.text-gradient {
  background: var(--bg-image-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
